/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #636363;
  font-weight: 500;
  line-height: 1.6;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800px;
  color: black;
  margin-bottom: 20px;
}
.item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}
.item p {
  font-weight: 300;
}
button {
  padding: 20px 35px;
  border: 1px solid transparent;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  color: white;
  background-size: 200%;
  font-size: 15px;
  font-weight: 500;
  border-radius: 30px;
  transition: all 0.5s;
  cursor: pointer;
}
button:hover {
  background-position: right;
}
.p-top {
  padding-top: 115px;
}
.ta-center {
  text-align: center;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header__content nav {
  display: flex;
  align-items: center;
}
.header__content nav ul {
  display: flex;
  list-style: none;
}
.header__content li {
  padding: 55px 15px;
}
.header__content span {
  display: inline-block;
}
.header__content li:hover span {
  color: #f55f8d;
  animation: uptodown 0.3s forwards;
}
@keyframes uptodown {
  49% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
}

.header__content a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
}
.header__content a i {
  font-size: 9px;
  vertical-align: middle;
}

/* CAROUSEL */
.carousel {
  background-image: url(../imgsammar/pic2.png);
  background-position: top;
  padding-top: 180px;
}

.carousel__content {
  display: flex;
  align-items: center;
}
.carousel__left {
  width: 60%;
}
.carousel__right {
  width: 40%;
}

.carousel__article p {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 300;
}
.carousel__article ul {
  list-style: none;
  margin-bottom: 20px;
  font-weight: 300;
}
.carousel__article li {
  padding: 10px 5px 10px 0;
}
.carousel__article a {
  text-decoration: none;
}
.carousel__article i {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  color: white;
  font-size: 24px;
  font-weight: 900;
  border-radius: 50%;
  text-align: center;
}

.carousel__right img {
  margin-left: 50px;
}
/* SERVICES */
.services {
  background-image: url(../imgsammar/bg2.png);
  background-position: top center;
  background-size: cover;
}

.services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.services__content .item {
  background-color: white;
  padding: 30px 45px;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  transition: all 0.5s;
  transform: translateY(0);
  cursor: pointer;
}
.services__content .item:hover {
  transform: translateY(-20px);
}
.services__content .item img {
  width: 215px;
}

/* ABOUT US */
.aboutus {
  background-image: url(../imgsammar/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}
.aboutus__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.aboutus__content .left {
  width: 60%;
  position: absolute;
  left: -17%;
}
.aboutus__content .left img {
  width: 100%;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}
.aboutus__content .right {
  width: 50%;
}
.aboutus__content .right p:last-of-type {
  margin-bottom: 15px;
  line-height: 26px;
  font-weight: 300;
  color: #636363;
}

.aboutus__content .right ul {
  list-style: none;
  font-weight: 300;
}
.aboutus__content .right i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  margin-bottom: 20px;
}

/* NUMBER */
.number {
  background-image: url(../imgsammar/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
}
.number .list {
  display: flex;
  justify-content: space-around;
}
.number .list .item {
  width: 25%;
}
.number i {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  background-position: left;
  font-size: 45px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  border-radius: 50%;
  color: white;
  display: inline-block;
}
.number .item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number .item span {
  display: inline-block;
  margin-right: 15px;
}
/* FEATURES */
.features {
  background-image: url(../imgsammar/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
}
.features__content {
  display: flex;
  align-items: center;
}
.features__content .left {
  width: 50%;
}

.features__content .item {
  padding: 0 50px 30px 0;
}
.features .item:nth-child(2) {
  padding: 0 0 30px 50px;
}

.features__content .item .card div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.features__content .item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}

.features__content .item .card {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.features .item .card:hover::after {
  opacity: 1;
}
.features .item .card:hover i {
  color: #fff;
}
.features .item .card:hover h3,
.features .item .card:hover p {
  color: white;
}

.features .item .card::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}

.features__content .right {
  width: 50%;
}
.features .card {
  margin-right: -80px;
}
.features .card img {
  width: 100%;
  animation: move2 5s infinite;
}
@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/* PORTFOLIO */
.portfolio__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 35px;
}
.portfolio__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.item1 {
  grid-column: 1/3;
}
.item5 {
  grid-row: 3/ 4;
  grid-column: 1/3;
}
.item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
}
